USE [master]
GO
/****** Object:  Database [plant]    Script Date: 2023/12/18 18:55:26 ******/
CREATE DATABASE [plant]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'plant', FILENAME = N'F:\SQL Server\目录\MSSQL16.MSSQLSERVER\MSSQL\DATA\plant.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'plant_log', FILENAME = N'F:\SQL Server\目录\MSSQL16.MSSQLSERVER\MSSQL\DATA\plant_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [plant].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [plant]
GO
/****** Object:  Table [dbo].[Classification]    Script Date: 2023/12/18 18:55:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Classification](
	[NodeID] [int] NOT NULL,
	[ParentID] [int] NULL,
	[ScientificName] [varchar](255) NULL,
	[CommonName] [varchar](255) NULL,
	[Province] [varchar](255) NULL,
	[City] [varchar](255) NULL,
	[County] [varchar](255) NULL,
	[GrowthEnvironment] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[NodeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Devices]    Script Date: 2023/12/18 18:55:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Devices](
	[DeviceID] [int] NOT NULL,
	[DeviceName] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[DeviceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_DeviceName] UNIQUE NONCLUSTERED 
(
	[DeviceName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Images]    Script Date: 2023/12/18 18:55:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Images](
	[ImageID] [int] NOT NULL,
	[PlantID] [int] NULL,
	[ImageData] [varbinary](max) NULL,
	[ImageFileName] [varchar](255) NULL,
	[Location] [varchar](255) NULL,
	[Description] [text] NULL,
	[Photographer] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ImageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Maintenance]    Script Date: 2023/12/18 18:55:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Maintenance](
	[TaskID] [int] NOT NULL,
	[TaskName] [varchar](255) NULL,
	[ExecutionTime] [datetime] NULL,
	[ExecutionLocation] [varchar](255) NULL,
	[Personnel] [varchar](50) NULL,
	[TaskDescription] [text] NULL,
	[MaintenanceObjectID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[TaskID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Monitoring]    Script Date: 2023/12/18 18:55:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Monitoring](
	[MonitoringID] [int] NOT NULL,
	[MonitoringTime] [datetime] NULL,
	[Personnel] [varchar](50) NULL,
	[Location] [varchar](255) NULL,
	[ObjectID] [int] NULL,
	[DeviceID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MonitoringID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonitoringIndicators]    Script Date: 2023/12/18 18:55:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonitoringIndicators](
	[IndicatorID] [int] NOT NULL,
	[IndicatorName] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[IndicatorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_IndicatorName] UNIQUE NONCLUSTERED 
(
	[IndicatorName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonitoringResults]    Script Date: 2023/12/18 18:55:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonitoringResults](
	[ResultID] [int] NOT NULL,
	[MonitoringID] [int] NULL,
	[IndicatorID] [int] NULL,
	[ResultValue] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ResultID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pests]    Script Date: 2023/12/18 18:55:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pests](
	[PestID] [int] NOT NULL,
	[PestName] [varchar](255) NULL,
	[ControlMethod] [varchar](255) NULL,
	[PesticideName] [varchar](255) NULL,
	[PesticideDosage] [varchar](50) NULL,
	[Duration] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [Unique_Pesticide] UNIQUE NONCLUSTERED 
(
	[PesticideName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlantCare]    Script Date: 2023/12/18 18:55:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlantCare](
	[CareID] [int] NOT NULL,
	[PlantID] [int] NULL,
	[CareStrategy] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[CareID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Plants]    Script Date: 2023/12/18 18:55:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Plants](
	[PlantID] [int] NOT NULL,
	[DiseaseName] [varchar](255) NULL,
	[Alias] [varchar](255) NULL,
	[FamilyName] [varchar](255) NULL,
	[SpeciesName] [varchar](255) NULL,
	[MorphologicalFeatures] [text] NULL,
	[CultivationTechniques] [text] NULL,
	[ApplicationValue] [text] NULL,
	[ImageID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PlantID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Classification]  WITH CHECK ADD FOREIGN KEY([ParentID])
REFERENCES [dbo].[Classification] ([NodeID])
GO
ALTER TABLE [dbo].[Images]  WITH CHECK ADD  CONSTRAINT [FK_Image_Plant] FOREIGN KEY([PlantID])
REFERENCES [dbo].[Plants] ([PlantID])
GO
ALTER TABLE [dbo].[Images] CHECK CONSTRAINT [FK_Image_Plant]
GO
ALTER TABLE [dbo].[Maintenance]  WITH CHECK ADD FOREIGN KEY([MaintenanceObjectID])
REFERENCES [dbo].[Plants] ([PlantID])
GO
ALTER TABLE [dbo].[Monitoring]  WITH CHECK ADD  CONSTRAINT [FK_Monitoring_Device] FOREIGN KEY([DeviceID])
REFERENCES [dbo].[Devices] ([DeviceID])
GO
ALTER TABLE [dbo].[Monitoring] CHECK CONSTRAINT [FK_Monitoring_Device]
GO
ALTER TABLE [dbo].[Monitoring]  WITH CHECK ADD  CONSTRAINT [FK_Monitoring_Object] FOREIGN KEY([ObjectID])
REFERENCES [dbo].[Plants] ([PlantID])
GO
ALTER TABLE [dbo].[Monitoring] CHECK CONSTRAINT [FK_Monitoring_Object]
GO
ALTER TABLE [dbo].[MonitoringResults]  WITH CHECK ADD  CONSTRAINT [FK_Results_Indicator] FOREIGN KEY([IndicatorID])
REFERENCES [dbo].[MonitoringIndicators] ([IndicatorID])
GO
ALTER TABLE [dbo].[MonitoringResults] CHECK CONSTRAINT [FK_Results_Indicator]
GO
ALTER TABLE [dbo].[MonitoringResults]  WITH CHECK ADD  CONSTRAINT [FK_Results_Monitoring] FOREIGN KEY([MonitoringID])
REFERENCES [dbo].[Monitoring] ([MonitoringID])
GO
ALTER TABLE [dbo].[MonitoringResults] CHECK CONSTRAINT [FK_Results_Monitoring]
GO
ALTER TABLE [dbo].[PlantCare]  WITH CHECK ADD  CONSTRAINT [FK_Care_Plant] FOREIGN KEY([PlantID])
REFERENCES [dbo].[Plants] ([PlantID])
GO
ALTER TABLE [dbo].[PlantCare] CHECK CONSTRAINT [FK_Care_Plant]
GO
ALTER TABLE [dbo].[Plants]  WITH CHECK ADD  CONSTRAINT [FK_Plant_Image] FOREIGN KEY([ImageID])
REFERENCES [dbo].[Images] ([ImageID])
GO
ALTER TABLE [dbo].[Plants] CHECK CONSTRAINT [FK_Plant_Image]
GO
USE [master]
GO
